@model Dominio.Usuario

@{
    ViewData["Title"] = "Editar perfil";
}

<h1>Editar Perfil</h1>

<div class="row contenedor">
    <div class="col-md-4">
        <form asp-action="EditPerfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña:</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label">Nivel:</label>
                <select asp-for="Nivel" >
                    <option value="X">Seleccione...</option>
                    <option value="Junior">Junior</option>
                    <option value="Semi Senior">Semi Senior</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
